html {
	box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.banner {
  overflow: hidden;
  border: 1px solid;
	position: relative;
}

.img-flex {
  display: block;
  width: 100%;
}

.card-title {
  margin: 0;
  padding: .5rem 1rem;
  color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 4rem; 
}

.card-body {
	position: absolute;
  bottom: 0;
  left 0;
  width: 100%;
}
